body{
  margin: 0;
  background-color: #f6db5a;
}


header {
  height: 600px;
  background-color: #f6db5a;
  text-align: center;
  max-width: 1700px;
  margin: 0 auto;
  border-bottom: 3px dashed black;
}

#header-pc-img{
  height: 600px;
  float: right;
  display: none;
}


header h1{
  margin: 0;
  padding-top: 150px;
  color: white;
  text-shadow: 2px 2px 6px rgb(158, 135, 1);
  letter-spacing: 0.1em;
  font-size: 40px;
}

header p{
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}

header i{
  font-size: 20px;
  margin-top: 10px;
  animation-name: updown;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}

@keyframes updown {
  0% {
      transform: translate(0,0px);
  }

  100% {
      transform: translate(0,-10px)
  }
}

.underline{
  height: 3px;
  background-color: black;
  position: relative;
  width: 0%;
  margin-bottom: 30px;
}

main{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #f6db5a;
}

.main-wrapper{
  width: 48%;
}

.main-wrapper-portflio{
  width: 48%;
}


#middle-line{
  width: 3px;
  height: 2300px;
  background-color: black;
}

/* ローディング */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #f6db5a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.self-building-square-spinner, .self-building-square-spinner * {
  box-sizing: border-box;
}

.self-building-square-spinner {
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  top: calc( -10px * 2 / 3);
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
}

.self-building-square-spinner .square {
  height: 10px;
  width: 10px;
  top: calc( -10px * 2 / 3);
  margin-right: calc(10px / 3);
  margin-top: calc(10px / 3);
  background: black;
  float: left;
  position:relative;
  opacity: 0;
  animation: self-building-square-spinner 6s infinite;
}

.self-building-square-spinner .square:nth-child(1) {
  animation-delay: calc(300ms * 6);
}

.self-building-square-spinner .square:nth-child(2) {
  animation-delay: calc(300ms * 7);
}

.self-building-square-spinner .square:nth-child(3) {
  animation-delay: calc(300ms * 8);
}

.self-building-square-spinner .square:nth-child(4) {
  animation-delay: calc(300ms * 3);
}

.self-building-square-spinner .square:nth-child(5) {
  animation-delay: calc(300ms * 4);
}

.self-building-square-spinner .square:nth-child(6) {
  animation-delay: calc(300ms * 5);
}

.self-building-square-spinner .square:nth-child(7) {
  animation-delay: calc(300ms * 0);
}

.self-building-square-spinner .square:nth-child(8) {
  animation-delay: calc(300ms * 1);
}

.self-building-square-spinner .square:nth-child(9) {
  animation-delay: calc(300ms * 2);
}

.self-building-square-spinner .clear{
  clear: both;
}

@keyframes self-building-square-spinner {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    top: 0;
  }
  50.9% {
    opacity: 1;
    top: 0;
  }
  55.9% {
    opacity: 0;
    top: inherit;
  }
}


/* 非表示 */
.loaded {
  opacity: 0;
  visibility: hidden;
}

/* めいん */

h2{
  text-align: center;
  font-size: 24px;
  margin-top: 70px;
  margin-bottom: 50px;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  border-bottom: 3px dashed black;
}

.txt{
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-weight: bold;
}

.main-wrapper-portflio img{
  width: 230px;
  margin: 20px;
  height: 100%;

}


/* works */
.works-wrapper h3{
  font-size: 20px;
  padding-left: 24px;
  border-left: 8px solid black;
  display: inline;
  padding-right: 30px;
}

.works-wrapper i{
  font-size: 30px;
}

.works-wrapper p{
  margin-bottom: 60px;
}

/* skills */
#skills h3{
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: white;
  padding-top: 20px;
}

#skills p{
  width: 350px;
}

.skill{
  width: 120px;
  height: 120px;
  background-color: black;
  display: table-cell;
  vertical-align: middle;
  margin-right: 30px;
}



.skill-wrapper{
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.oneline{
  padding-top: 30px !important;
}

/* ポートフォリオ */
#img-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#img-wrapper a{
  margin-top: 30px;
  height: 100%;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .6s;
    transition: all .3s;
    margin: 10px 0 0 0;
}

#img-wrapper a:hover{
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

#img-wrapper img{
  transition: box-shadow .5s;
}

#img-wrapper img:hover{
  box-shadow: 5px 12px 12px rgb(89, 90, 0);
}

/* topボタン */
#gotop{
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 50px;
  color: black;
}


/* フッター */
footer{
  border-top: 3px solid black;
  height: 100px;
  background-color:  #f6db5a;
  text-align: center;
  font-size: 12px;
}

footer p{
  margin-top: 40px;
}




@media(max-width: 1250px){ 
  #middle-line{
    width: 3px;
    height: 3250px;
    background-color: black;
  }

  #skills p{
    width: 70%;
  }



}

@media(max-width: 700px){ 
  header {
    height: 400px;
  }

  #header-pc-img{
    height: 400px;
    float: right;
    display: none;
    opacity: 0.4;
  }
  
  #sp-header{
    position: absolute;
    top: 0px;
    z-index: 3;
  }
  
  header h1{
    padding-top: 50px;
    width: 200px;
    font-size: 30px;
  }
  




  main{
    width: 90%;
    display: block;
  }

  .main-wrapper{
    width: 100%;
  }
  
  .main-wrapper-portflio{
    width: 100%;
  }

  #middle-line{
    display: none;
  }

  .br-pc{
    display: none;
  }

  .txt{
    font-size: 12px;
  }


  #skills{
    text-align: center;
  }
    
  .skill-wrapper{
    display: inline-block;
    margin-bottom: 40px;
    text-align: center;
    margin: 0 auto;
  }
  
  #skills p{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  .skill{
    width: 120px;
    height: 120px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    margin-right: 0px;
  }


}
